h2o
lubridate
reticulate
keras
blogdown
DALEX
data.table
ggrepel
glue
datapasta
haven
knitr
magrittr
gtable
rmarkdown
modelr
mlr
Rcpp
RColorBrewer
readxl
reprex
roxygen2
rvest
usethis
testthat
virids
caret
gganimate
e1071
glmnet
mboost
lpred
rpart
randomForest
SuperLearner
tmle
